body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 10pt;
    background-color: #CCCCFF
}
h1 {
    font-weight: bold;
    font-size: 14pt;
}
.docHashItems {
    display: grid;
    grid-template-columns: 1em 25% 25% auto;
    grid-template-rows: 1.75em auto;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 3px;
    margin-right: 2em;
}
.docHashVisibility {
    grid-column: 1;
    grid-row:    1;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid gray;
    font-size: smaller;
}
.docHashName {
    grid-column: 2;
    grid-row:    1;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.docHashTimestamp {
    grid-column: 3;
    grid-row:    1;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.docHash {
    grid-column: 4;
    grid-row:    1;
    font-family: "Lucida Console", Monaco, monospace;
    border-bottom: 1px solid gray;
    padding: 3px;
    font-size: smaller;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.docHashDescription {
    grid-column: 1 / span 4;
    grid-row:    2;
    padding: 3px;
    margin-left: 1em;
}
.allDocHashes {
    list-style-type: none;
}
.smaller {
    font-size: smaller;
}