ethdocstore {
  contracts {
    0xf0dc5aabc7fa653ef9be96343f82e9c5736c87d1 {
      defaultToPublic = false
      postPutHook     = "GitAddCommitPush"
    }
  }
  node {
    url     = "https://ropsten.infura.io/v3/bb1ca4713579450c9acb3f9d4f1f0118"
    chainId = 3
  }
  http {
    server {
      path    = "/poop/"
      port    = 7234
      dataDir = "/Users/swaldman/tmp/test-ethdocstore3"
    }
  }
}

