ethdocstore {
  contracts {
    0x824c8956bfb388e51c2b3836d4bbf99f70120224 {
      name            = "Sample Doc Store"
      description     = "This is just a sample. There is nothing really here."
      defaultToPublic = false
      postPutHook     = "GitAddCommitPush"
    }
  }
  node {
    url     = "https://ropsten.infura.io/v3/bb1ca4713579450c9acb3f9d4f1f0118"
    chainId = 3
  }
  http {
    server {
      path    = "/poop/"
      port    = 7234
      dataDir = "/Users/swaldman/tmp/test-ethdocstore4"
    }
  }
}

