ethdocstore {
  contracts {
    0xf10129a35e1314b0bc21cf2b757ee01e8ca55512 = "/Users/swaldman/tmp/test-ethdocstore"
  }
  node {
    url     = "https://ropsten.infura.io/v3/bb1ca4713579450c9acb3f9d4f1f0118"
    chainId = 3
  }
  http {
    server {
      path = "/poop/"
      port = 7234
    }
  }
}

